{{#each infosCadastradas}}
<h1 class="titulo titulo-principal">{{this.assistencia}}</h1>

<div class="secao">
    {{> menuPainel}}
    <div class="artigo">
        <p class="paragrafos-infos">Nome: {{this.assistencia}}</p>
        <p class="paragrafos-infos">Endereço: {{this.endereco}}</p>
        <p class="paragrafos-infos">Cidade: {{this.cidade}}</p>
        <p class="paragrafos-infos">Estado: {{this.estado}}</p>
        <p class="paragrafos-infos">Complemento: {{this.complemento}}</p>
        <p class="paragrafos-infos">E-mail: {{this.email}}</p>
        <p class="paragrafos-infos">WhatsApp: {{this.whatsapp}}</p>
        <p class="paragrafos-infos">Técnico responsável: {{this.responsavel}}</p>
    </div>
</div>

{{/each}}