<h1 class="titulo titulo-principal">Todas as ordens {{complemento}}</h1>

<div class="secao">
    {{>menuPainel}}
    <div class="artigo">

        <a href="/ordem/create"
            class="botao-add-flutuante">Nova
            ordem</a>
        <div class="botoes-status-ordens">
            <form method="get" action="/ordem/ordens">
                <button type="submit" class="bt btn-sm bt-secondary mx-2">Todas</button>
            </form>
            <form method="get">
                <button type="submit" name="byStatus" value="aberto"
                    class="bt btn-sm bt-tertiary me-2">Abertas</button>
            </form>
            <form method="get">
                <button type="submit" name="byStatus" value="concluido"
                    class="bt btn-sm bt-quarter me-2">Concluidas</button>
            </form>
            <form method="get">
                <button type="submit" name="byStatus" value="entregue" class="bt btn-sm bt-primary">Entregues</button>
            </form>
        </div>
        {{#each ordens}}
        <div class="row border m-2 rounded p-md-3 p-0">
            {{#if semOrdens}}
            <p class="text-center my-4">Nenhuma ordem de serviço por aqui!</p>
            {{/if}}

            <h2 class="fs-5 text-center">Ordem nº{{this.id}}</h2>
            <p class="fs-5 text-center">Cliente: {{this.cliente}}</p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>Técnico responsável: {{this.tecnico}}</p>
                    <p>Data de entrada: {{this.dataentrada}}</p>
                    <p>Prazo de entrega: {{this.prazoentrega}}</p>
                    <p>Checklist: {{this.checklist}}</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>Valor do serviço: <b>R${{this.precoTotal}}</b></p>
                    <p>Forma de pagamento: {{this.formapagamento}}</p>
                    <p>Status desta ordem: <b class="status-ordem">{{this.status}}</b></p>

                    <form action="/ordem/changeStatus" method="post" class="">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <label class="label">Mudar o status</label>
                        <div class="select-status-ordens">
                            <select name="status" class="input" required>
                                <option class="option" value="">Selecione o status</option>
                                <option class="option" value="aberto">Aberto</option>
                                <option class="option" value="concluido">Concluído</option>
                                <option class="option" value="entregue">Entregue</option>
                            </select>

                            <button type="submit" class="btn">Mudar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>